@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);

* { padding: 0; margin: 25;}

body
{
 width: 100%;
 height: 100%;
 font-family: "Droid Sans", arial, verdana, sans-serif;
 font-weight: 700;
 color: orange;
 overflow: hidden;
 background-color: black;
 background-image: url("https://i.gifer.com/Ir8.gif");
 background-repeat: no-repeat;
 background-size: cover;


}


#content, #content2 {
 display: none;
}

#mySidenav a {
   position: absolute;
   left: -80px;
   transition: 0.3s;
   padding: 15px;
   width: 100px;
   height: 800px;
   text-decoration: none;
   font-size: 45px;
   color: white;
   text-shadow: 2px 2px black;
   border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
   left: -30px;
   width: 400px;
}

#light {
 top: 200px;
  background-image: url(https://media.licdn.com/dms/image/C5603AQGv3VxP0mQALA/profile-displayphoto-shrink_800_800/0?e=1547078400&v=beta&t=yFBCiqq4Yixegf9AxCywDKmyDRakQcjO2rUpVMmgf-Q);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#dark {
 top: 200px;
 background-image: url(https://media.licdn.com/dms/image/C5103AQGgci9dRrFINA/profile-displayphoto-shrink_800_800/0?e=1547078400&v=beta&t=eQ1F2pafBE7_OGKYEScvajCjxvgXqnZe2W56tVJ-kWE);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

#mySidenav2 a {
 position: absolute;
 right: -80px;
 transition: 0.3s;
 padding: 15px;
 width: 100px;
 height: 800px;
 text-decoration: none;
 font-size: 45px;
 color: white;
 text-shadow: 2px 2px black;
 border-radius: 5px 0  0 5px;
}

#mySidenav2 a:hover {
   right: -30px;
   width: 400px;
}
@-webkit-keyframes intro {
 0% { opacity: 1; }
 90% { opacity: 1; }
 100% { opacity: 0; }
}

@-moz-keyframes intro {
 0% { opacity: 1; }
 90% { opacity: 1; }
 100% { opacity: 0; }
}

@-ms-keyframes intro {
 0% { opacity: 1; }
 90% { opacity: 1; }
 100% { opacity: 0; }
}

@-o-keyframes intro {
 0% { opacity: 1; }
 90% { opacity: 1; }
 100% { opacity: 0; }
}

@keyframes intro {
 0% { opacity: 1; }
 90% { opacity: 1; }
 100% { opacity: 0; }
}

h1
{
 position: absolute;
 width: 2.6em;
 left: 50%;
 top: 25%;
 font-size: 10em;
 text-align: center;
 margin-left: -1.3em;
 line-height: 0.8em;
 letter-spacing: -0.05em;
 color: #000;
 text-shadow: -2px -2px 0 #ff6, 2px -2px 0 #ff6, -2px 2px 0 #ff6, 2px 2px 0 #ff6;
 opacity: 0;
 z-index: 1;
 -webkit-animation: logo 5s ease-out 2.5s;
 -moz-animation: logo 5s ease-out 2.5s;
 -ms-animation: logo 5s ease-out 2.5s;
 -o-animation: logo 5s ease-out 2.5s;
 animation: logo 5s ease-out 2.5s;
}

@-webkit-keyframes logo {
 0% { -webkit-transform: scale(1); opacity: 1; }
 50% { opacity: 1; }
 100% { -webkit-transform: scale(0.1); opacity: 0; }
}

@-moz-keyframes logo {
 0% { -moz-transform: scale(1); opacity: 1; }
 50% { opacity: 1; }
 100% { -moz-transform: scale(0.1); opacity: 0; }
}

@-ms-keyframes logo {
 0% { -ms-transform: scale(1); opacity: 1; }
 50% { opacity: 1; }
 100% { -ms-transform: scale(0.1); opacity: 0; }
}

@-o-keyframes logo {
 0% { -o-transform: scale(1); opacity: 1; }
 50% { opacity: 1; }
 100% { -o-transform: scale(0.1); opacity: 0; }
}

@keyframes logo {
 0% { transform: scale(1); opacity: 1; }
 50% { opacity: 1; }
 100% { transform: scale(0.1); opacity: 0; }
}

/* the interesting 3D scrolling stuff */

.starwarsAnimate
{
 position: absolute;
 width: 20em;
 height: 70em;
 bottom: 0;
 left: 50%;
 margin-left: -10em;
 font-size: 350%;
 text-align: justify;
 overflow: hidden;
 -webkit-transform-origin: 50% 100%;
 -moz-transform-origin: 50% 100%;
 -ms-transform-origin: 50% 100%;
 -o-transform-origin: 50% 100%;
 transform-origin: 50% 100%;
 -webkit-transform: perspective(300px) rotateX(10deg);
 -moz-transform: perspective(300px) rotateX(10deg);
 -ms-transform: perspective(300px) rotateX(10deg);
 -o-transform: perspective(300px) rotateX(10deg);
 transform: perspective(300px) rotateX(10deg);
 color: orange;
}


.starwarsAnimate:after
{
 position: absolute;
 content: ' ';
 left: 0;
 right: 0;
 top: 0;
 bottom: 60%;
 background-image: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
 background-image: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
 background-image: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
 background-image: -o-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
 background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
 pointer-events: none;
}


.starwarsAnimate p

{
 text-align: justify;
 margin: 0.8em 0;
}


.starwarsAnimate p.center

{
 text-align: center;
}


.starwarsAnimate a
{
 color: #ff6;
 text-decoration: underline;
}


.starwarsAnimateContent
{
 position: absolute;
 top: 100%;
 -webkit-animation: scroll 100s linear 4s infinite;
 -moz-animation: scroll 100s linear 4s infinite;
 -ms-animation: scroll 100s linear 4s infinite;
 -o-animation: scroll 100s linear 4s infinite;
 animation: scroll 100s linear 4s infinite;
}

/* animation */
@-webkit-keyframes scroll {
 0% { top: 100%; }
 100% { top: -170%; }
}

@-moz-keyframes scroll {
 0% { top: 100%; }
 100% { top: -170%; }
}

@-ms-keyframes scroll {
 0% { top: 100%; }
 100% { top: -170%; }
}

@-o-keyframes scroll {
 0% { top: 100%; }
 100% { top: -170%; }
}

@keyframes scroll {
 0% { top: 100%; }
 100% { top: -170%; }
}
